/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
!.gitkeep

.env
.env.*.backup
.env.backup

.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
docker-compose.override.yml

# MySQL data (Docker volume bind)
docker/mysql/data/
docker/mysql/logs/
# 念のため
*.ibd
ibdata*
ib_logfile*
undo_*
binlog.*
# OS / エディタ等
.DS_Store
